app = 'examples-8a9-dq'
primary_region = 'ord'
console_command = '/rails/bin/rails console'

[build]

[env]
  PORT = '8080'
  RAILS_MAX_THREADS = '30'
  DUCTWORK_JOB_WORKER_COUNT = '5'

[processes]
  app = 'bin/rails server'
  pipeline = 'bin/ductwork'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
